.Line {
  animation: appear var(--hero-title-animation-duration);
  font-size: var(--space-500);
  line-height: 1.14;
  padding: 0 1em;
  font-family: 'Google Sans';
}

.SubLine {
  opacity: 0;
  animation: appear var(--hero-subtitle-animation-duration)
    var(--hero-subtitle-animation-delay) forwards;
  font-size: var(--space-125);
  margin-top: var(--space-100);
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.025em;

  --color-light: hsl(var(--c-1-45));
  --color-dark: hsl(var(--c-1-60));
  --color: var(--color-light);

  color: var(--color);

  @media (prefers-color-scheme: dark) {
    --color: var(--color-dark);
  }
}

.Cta {
  opacity: 0;
  animation: appear var(--hero-subtitle-animation-duration)
    calc(var(--hero-subtitle-animation-delay) + 1s) forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@property --rotate {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: true;
}

@property --neon-color-1 {
  syntax: '<color>';
  // initial-value: hsl(193, 100%, 68%);
  initial-value: hsl(193, 100%, 50%);
  inherits: true;
}

@property --neon-color-1-alternate {
  syntax: '<color>';
  initial-value: hsl(193, 100%, 50%);
  inherits: true;
}

@property --neon-color-2 {
  syntax: '<color>';
  initial-value: hsl(225, 75%, 70%);
  inherits: true;
}

@property --neon-color-3 {
  syntax: '<color>';
  initial-value: hsl(264, 100%, 80%);
  inherits: true;
}

@keyframes to-hover-colors {
  to {
    --neon-color-1: hsl(317, 100%, 50%);
    --neon-color-1-alternate: hsl(184, 100%, 50%);
    --neon-color-2: hsl(298, 75%, 70%);
    --neon-color-3: hsl(6, 100%, 80%);
  }
}

@keyframes to-default-colors {
  to {
    --neon-color-1: hsl(193, 100%, 50%);
    --neon-color-1-alternate: hsl(165, 100%, 50%);
    --neon-color-2: hsl(225, 75%, 70%);
    --neon-color-3: hsl(264, 100%, 80%);
  }
}

.Neon {
  margin-top: var(--space-250);
  text-transform: uppercase;
  padding-block: 1.2em;
  padding-inline: 4em;
  letter-spacing: 0.05em;

  margin-top: 40px;
  margin-bottom: -80px;

  font-size: 1.1rem;
  font-weight: 500;

  --rotate: 0deg;

  --duration-hover-animation: 0.5s;

  --border-radius: 99999px;
  --border-size-default: 4px;
  --border-size-hover: 4px;

  --animation-duration: 3s;
  --animation-delay: 2s;
  --animation-timing-function: linear;

  --neon-color-1: hsl(193, 100%, 50%);
  --neon-color-1-alternate: hsl(165, 100%, 50%);
  --neon-color-2: hsl(225, 75%, 70%);
  --neon-color-3: hsl(264, 100%, 80%);

  --background-color-default: hsl(var(--c-1-100));
  --background-color-hover: hsl(var(--c-1-100));

  --scale-x-default: 0.8;
  --scale-y-default: 0.4;

  --scale-x-hover: 1;
  --scale-y-hover: 1;

  --blur-default: 18px;
  --blur-hover: 12px;

  // Weaving
  --scale-x: var(--scale-x-default);
  --scale-y: var(--scale-y-default);
  --background-color: var(--background-color-default);
  --blur: var(--blur-default);
  --border-size: var(--border-size-default);

  background-color: var(--background-color);
  transition: background-color var(--duration-hover-animation);

  animation: to-default-colors var(--duration-hover-animation) forwards;

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    --background-color: var(--background-color-hover);
    --blur: var(--blur-hover);

    --scale-x: var(--scale-x-hover);
    --scale-y: var(--scale-y-hover);
    --border-size: var(--border-size-hover);

    animation: to-hover-colors var(--duration-hover-animation) forwards;

    // --neon-color-1: hsl(317deg 100% 50%);
    // --neon-color-1-alternate: hsl(184deg 100% 50%);
    // --neon-color-2: hsl(225, 75%, 70%);
    // --neon-color-3: hsl(264, 100%, 80%);

    // --neon-color-1: hsl(317, 100%, 50%);
    // --neon-color-1-alternate: hsl(184, 100%, 50%);
    // --neon-color-2: hsl(298, 75%, 70%);
    // --neon-color-3: hsl(6, 100%, 80%);
  }

  @media (prefers-color-scheme: dark) {
    & {
      // --neon-color-1: hsl(193, 100%, 68%);
      // --neon-color-1-alternate: hsl(165, 100%, 68%);
      // --neon-color-2: hsl(225, 75%, 56%);
      // --neon-color-3: hsl(264, 100%, 38%);

      --background-color-default: hsla(var(--c-1-15) / 0.98);
      --background-color-hover: hsla(var(--c-1-15) / 0.9);
    }
  }
}

.Neon::before {
  content: '';
  width: calc(100% + var(--border-size) * 2);
  height: calc(100% + var(--border-size) * 2);
  border-radius: var(--border-radius);
  background-image: linear-gradient(
    var(--rotate),
    var(--neon-color-1),
    var(--neon-color-2) 43%,
    var(--neon-color-3)
  );
  position: absolute;
  z-index: -1;
  top: calc(-1 * var(--border-size));
  left: calc(-1 * var(--border-size));
  transition: all var(--duration-hover-animation);
  animation: spin var(--animation-duration) var(--animation-delay)
    var(--animation-timing-function) infinite;
}

.Neon::after {
  position: absolute;
  content: '';
  border-radius: 99999px;
  top: 30%;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transition: transform var(--duration-hover-animation),
    filter var(--duration-hover-animation), top var(--duration-hover-animation);
  transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
  filter: blur(var(--blur));
  background-image: linear-gradient(
    var(--rotate),
    var(--neon-color-1),
    var(--neon-color-2) 43%,
    var(--neon-color-3)
  );
  animation: spin var(--animation-duration) calc(var(--animation-delay))
    var(--animation-timing-function) infinite;
  will-change: transform;
}

.Neon:hover::after {
  top: 0;
}

.NeonLabel {
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-image: linear-gradient(
    var(--rotate),
    var(--neon-color-1),
    var(--neon-color-2) 43%,
    var(--neon-color-3)
  );
  animation: spin var(--animation-duration)
    calc(var(--animation-duration) + var(--animation-delay))
    var(--animation-timing-function) infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  40% {
    --neon-color-1: initial;
  }
  55% {
    --neon-color-1: var(--neon-color-1-alternate);
  }
  85% {
    --neon-color-1: initial;
  }
  100% {
    --rotate: 360deg;
  }
}

.StepTitle {
  font-family: 'Google Sans';
}

.FeatureBlock {
  width: 315px;
  height: 115px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  box-shadow: 0px 9px 15px -8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 1em 2em;
  color: hsl(var(--c-1-15));
}

.Hero {
  margin-top: var(--space-250);
}
