.Hint {
  color: hsl(var(--c-1-40));

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--c-1-60));
  }
}

.ShowPasswordIcon {
  width: 44px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}
