.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: var(--space-300);
  padding-top: var(--space-200);
  color: hsl(var(--c-1-20));

  @media (prefers-color-scheme: dark) {
    color: hsl(var(--c-1-95));
  }
}

.Animated {
  // opacity: 0;
  // animation: appear 2s calc(var(--hero-subtitle-animation-delay) + 2s) forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
