.Container {
  position: fixed;
  inset: 0;
  display: flex;
  background-image: linear-gradient(rgba(182, 94, 201, 1), rgba(31, 0, 61, 1));
  z-index: -1;
}

.Bubble {
  background-image: linear-gradient(var(--bg-from), var(--bg-to));
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  border: 1px solid var(--border);
  position: absolute;
  left: var(--left);
  top: 0;
}

.Float {
  // EaseInQuart
  // animation: float 3s forwards cubic-bezier(0.5, 0, 0.75, 0), appear 1s forwards;
  // animation: float 3s forwards cubic-bezier(0.5, 0, 0.75, 0);
  animation: float 2s forwards cubic-bezier(0.83, 0.09, 0.9, 0.23);
}

@keyframes float {
  from {
    opacity: 0;
    transform: translateX(calc(-50% + var(--initial-x))) translateY(-100%)
      scale(var(--initial-scale));
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateX(calc(-50% + var(--final-x)))
      translateY(calc(100% + var(--viewport-h))) scale(var(--final-scale));
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Left {
  width: 30%;
  position: relative;
}

.Right {
  margin-left: auto;
  width: 30%;
  position: relative;
}
