.TextField {
  --hover-color: #cccccc;
  --focus-color: #808080;
  --text-color: hsl(0deg, 0%, 46%);

  transition: box-shadow 0.125s;
  cursor: text;
  outline: none;
}

.TextField:hover {
  box-shadow: 0 0 0 1px var(--hover-color);
}

.TextField:focus {
  box-shadow: 0 0 0 1px var(--focus-color);
}

.TextField[placeholder]:empty:before {
  content: attr(placeholder);
  white-space: nowrap;
  color: var(--text-color);
  pointer-events: none;
  font-weight: 200;
}

.TextField[placeholder]:empty:focus:before {
  content: '';
  display: none;
}
