@property --bg-1 {
  syntax: '<color>';
  initial-value: #ff007b;
  inherits: true;
}

@property --bg-2 {
  syntax: '<color>';
  initial-value: #4c0020;
  inherits: true;
}

.Button {
  --bg-1: #ff007b;
  --bg-2: #4c0020;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.65em 1.5em 0.75em;
  cursor: pointer;

  background-image: linear-gradient(var(--bg-1), var(--bg-2));
  box-shadow: 0px 2px 5px #f0fffe, 0px 5px 25px -5px #23dcdc;
  border-radius: 60px;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffe5eb;

  transition-property: box-shadow, background-image, transform, --bg-1, --bg-2,
    color;
  transition-duration: 0.15s;

  outline: none;

  text-shadow: 2px 1px 2px black;

  &.Sm {
    font-size: 16px;
  }

  &.Lg {
    font-size: 32px;
  }

  &:not(:disabled) {
    animation: pop 0.35s ease-out;
  }

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    --bg-1: #ff007b;
    --bg-2: hsl(335 100% 20% / 1);

    // background-image: linear-gradient(#ff007b, hsl(335 100% 20% / 1));
    box-shadow: 0px 2px 10px hsl(176deg 100% 97% / 70%),
      0px 5px 25px -2px #23dcdc;
    color: white;
    transform: scale(1.05);
  }

  &:active {
    background-image: linear-gradient(#ff007b, hsl(335 100% 20% / 1));
    box-shadow: 0px 1px 2px 1px #f0fffe, 0px 5px 5px -3px #23dcdc;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

@keyframes pop {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
