.scrollContainer {
  --header-height: 74px;
  --shadow-height: 8px;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --background-color: white;
  /* --background-color: #202124; */
  --transparent: rgba(0, 0, 0, 0);

  background: linear-gradient(var(--background-color) 30%, var(--transparent)) 0
      var(--header-height),
    linear-gradient(var(--shadow-color), var(--transparent)) 0
      var(--header-height);
  background-repeat: no-repeat;
  background-size: 100% calc(2 * var(--shadow-height)),
    100% var(--shadow-height);
  background-attachment: local, scroll;
}
