.Content {
  padding: var(--space-200) var(--space-300);
}

.Card {
  display: block;
  border-radius: 4px;
  color: hsl(var(--c-1-20));
  padding: 0.8rem 0;
  font-size: 1rem;
  letter-spacing: 0.05em;
  font-weight: 500;

  @media (prefers-color-scheme: dark) {
    & {
      color: hsl(var(--c-1-90));
    }
  }
}
