.scrollContainer {
  --header-height: 56px;
  --shadow-height: 30px;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --background-color: white;

  /* background: 
    linear-gradient(white 30%, rgba(0, 0, 0, 0)) 0 56px,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ) 0 56px; */
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 14px;
  background-attachment: local, scroll;
}
