.Background {
  // --background-color: hsl(120, 4%, 10%);
  --background-color: hsl(120, 4%, 95%);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 175vh;
  z-index: -1;
  opacity: 0;
  transform: scale(2) translateY(10%);

  animation: a1 2s 2s forwards;
}

@keyframes a1 {
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.Circle {
  fill: var(--background-color);
}
