.Background {
  --background-color: hsla(var(--c-1-hue), var(--c-1-sat-1), var(--c-1-lit-90));
  --fill: hsla(var(--c-1-hue), var(--c-1-sat-1), var(--c-1-lit-95));
  --scale: 2;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 175vh;
  z-index: -1;
  opacity: 0;
  transform: scale(var(--scale)) translateY(10%);

  animation: a1 2s 2s forwards;

  @media (prefers-color-scheme: dark) {
    & {
      --background-color: hsla(
        var(--c-1-hue),
        var(--c-1-sat-1),
        var(--c-1-lit-3)
      );
      --fill: hsla(var(--c-1-hue), var(--c-1-sat-1), var(--c-1-lit-2));
    }
  }
}

.Planets1 {
  animation: rotate-1 12s infinite linear;
}

.Planets2 {
  animation: rotate-1 120s infinite linear reverse;
}

@keyframes rotate-1 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes a1 {
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
