.Line {
  animation: drop 2s;
}

.SubLine {
  opacity: 0;
  animation: appear 2s 1s forwards;
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }
}

@keyframes appear {
  from {
    transform: translateY(5%);
  }

  to {
    opacity: 1;
  }
}
