$r3: 75px;
$fin: 2 * 3.1415926536 * $r3;

.circle3 {
  stroke: theme('colors.gray.10');
  fill: none;
  animation: a-circle-3 10s infinite linear;
  stroke-dashoffset: 0%;
  stroke-dasharray: 80;
}

@keyframes a-circle-3 {
  to {
    stroke-dashoffset: $fin;
  }
}

.magic {
  --hue1: 271;
  --hue2: 357;

  background-image: linear-gradient(
    to right,
    hsl(var(--hue1), 81%, 65%),
    hsl(var(--hue2), 85%, 60%)
  );
  animation: movement 15s infinite alternate ease;
  box-shadow: 0 9px 18px 2px
      hsla(calc((var(--hue1) + var(--hue2)) / 2), 81%, 65%, 0.4),
    0 4px 6px -2px hsla(calc((var(--hue1) + var(--hue2)) / 2), 81%, 65%, 0.7),
    0 9px 36px 4px hsla(calc((var(--hue1) + var(--hue2)) / 2), 81%, 65%, 0.1);
}

@keyframes movement {
  to {
    --hue1: calc(271 + 360);
    --hue2: calc(357 + 360);
  }
}

@property --hue1 {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@property --hue2 {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}
