@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

td {
  padding: 0;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/font.woff2') format('woff2');
  font-display: swap;
}

.text-c-1-60 {
  color: hsl(var(--c-1-60));
}

.dark:text-c-1-60 {
  @media (prefers-color-scheme: dark) {
    color: hsl(var(--c-1-60));
  }
}

.dark:hidden {
  @media (prefers-color-scheme: dark) {
    display: none;
  }
}

html {
  --hero-title-animation-duration: 0s;
  --hero-subtitle-animation-duration: 0s;
  --hero-subtitle-animation-delay: 0s;

  --duration-1: 0.135s;

  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  --background-light: hsl(var(--c-0-100));
  --background-dark: hsl(var(--c-1-15));
  --background-dark-landing: linear-gradient(
    0,
    hsl(var(--c-1-10)),
    hsl(var(--c-1-25)) calc(100% - 52px)
  );
  --global-background: var(--background-light);

  --selection-background-light: hsl(var(--c-0-20));
  --selection-background-dark: hsl(var(--c-0-95));
  --selection-background: var(--selection-background-light);
  --selection-color-light: hsl(var(--c-0-100));
  --selection-color-dark: hsl(var(--c-0-20));
  --selection-color: var(--selection-color-light);

  --color-light: hsl(var(--c-1-5));
  --color-dark: hsl(var(--c-1-90));
  --color: var(--color-light);

  color: var(--color);
  background: var(--global-background);
  height: 100%;

  &::selection,
  & *::selection {
    background-color: var(--selection-background);
    color: var(--selection-color);
  }

  @media (prefers-color-scheme: dark) {
    & {
      --color: var(--color-dark);
      --global-background: var(--background-dark);
      --selection-background: var(--selection-background-dark);
      --selection-color: var(--selection-color-dark);
    }
  }
}
