@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

td {
  padding: 0;
}

@font-face {
  font-family: 'Google Sans';
  src: url('./font.woff2') format('woff2');
}

html {
  --hero-title-animation-duration: 3s;
  --hero-subtitle-animation-duration: 2s;
  --hero-subtitle-animation-delay: 1s;

  --duration-1: 0.2s;

  --c-1-hue: 228;
  --c-1-sat-1: 6%;
  --c-1-lit-1: 13%;
  --c-1-lit-2: 15%;
  --c-1-lit-3: 17%;
  --c-1-lit-4: 27%;
  --c-1-lit-5: 33%;
  --c-1-lit-45: 45%;
  --c-1-lit-60: 60%;
  --c-1-lit-70: 70%;
  --c-1-lit-90: 90%;
  --c-1-lit-95: 95%;
  --c-1-lit-100: 100%;

  --c-gray-hue: 0;
  --c-gray-sat: 0%;
  --c-gray-lit-0: 0%;
  --c-gray-lit-20: 20%;
  --c-gray-lit-40: 40%;
  --c-gray-lit-95: 95%;
  --c-gray-lit-100: 100%;

  --c-black-hue: 0;
  --c-black-sat: 0%;
  --c-black-lit: 0%;
  --c-black-alpha-1: 0.1;
  --c-black-alpha-3: 0.3;

  font-family: 'Google Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  --background-light: hsl(
    var(--c-gray-hue),
    var(--c-gray-sat),
    var(--c-gray-lit-100)
  );
  --background-dark: hsl(var(--c-1-hue), var(--c-1-sat-1), var(--c-1-lit-1));
  --background: var(--background-light);

  --selection-background-light: hsl(
    var(--c-gray-hue),
    var(--c-gray-sat),
    var(--c-gray-lit-0)
  );
  --selection-background-dark: hsl(
    var(--c-gray-hue),
    var(--c-gray-sat),
    var(--c-gray-lit-95)
  );
  --selection-background: var(--selection-background-light);
  --selection-color-light: hsl(
    var(--c-gray-hue),
    var(--c-gray-sat),
    var(--c-gray-lit-100)
  );
  --selection-color-dark: hsl(
    var(--c-gray-hue),
    var(--c-gray-sat),
    var(--c-gray-lit-20)
  );
  --selection-color: var(--selection-color-light);

  --color-light: hsl(var(--c-1-hue), var(--c-1-sat-1), var(--c-1-lit-5));
  --color-dark: hsl(var(--c-1-hue), var(--c-1-sat-1), var(--c-1-lit-90));
  --color: var(--color-light);

  color: var(--color);
  background-color: var(--background);
  height: 100%;

  &::selection,
  & *::selection {
    background-color: var(--selection-background);
    color: var(--selection-color);
  }

  @media (prefers-color-scheme: dark) {
    & {
      --color: var(--color-dark);
      --background: var(--background-dark);
      --selection-background: var(--selection-background-dark);
      --selection-color: var(--selection-color-dark);
    }
  }
}
